                                      NNN                                       
                                    NNNNNN                                      
                                   NN  N  NN                                    
                                 NN    N   NNN                                  
                                NN     N     NN                                 
                              NN       N      NNN                               
                            NNN        N        NN                              
                           NN          N          NN                            
                         NNN           N           NN                           
                        NN             N             NN                         
                       NNN           NNNN           NNN                         
                       NN NN        NN   NN        NN N                         
                       NN  NNN    NN      NNN    NN   N                         
                       NN    NN NNN         NN  NN    N                         
                       NN     NNN            NNN      N                         
                       NN    NNNNN          NNNNN     N                         
                       NN   NN    NN       NN    NN   N                         
                       NN NNN      NN    NNN      NN  N                         
                       NNNN          NN NN          NNN                         
                       NNN            NN             NN                         
                         NN            N            NN                          
                          NNN          N          NN                            
                            NN         N         NN                             
                             NNN       N       NN                               
                               NN      N     NNN                                
                                 NN    N    NN                                  
                                  NN   N  NNN                                   
                                    NN N NN                                     
                                     NNNN                                       
                                       N                                        
## MOTD for {{ ansible_hostname }} last updated on {{ansible_date_time.date}} at {{ansible_date_time.time}} ##
